<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Simple Authentication App</a>
</nav>

<div style="margin-top: 30px">
    {{#if user}}
        <a class="btn btn-primary btn-lg active" href="/logout">Logout</a>
        <a class="btn btn-primary btn-lg active" href="/admin">Admin</a>
    {{else}}
        <a class="btn btn-primary btn-lg active" href="/login">Login</a>
        <a class="btn btn-primary btn-lg active" href="/register">Register</a>    
    {{/if}}
</div>